* {
    box-sizing: border-box;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {text-decoration: none;}


body{
    font-family: "Ubuntu", sans-serif;
    background-color: hsl(217, 100%, 97%);
}

.container{
    max-width: 900px;
    margin-inline: auto;
    padding: 16px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 20px;
    
    
}


.left-side{
    background-image: url("../img/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 200px;
}

.left-side-first{
    display: flex;
    gap: 40px;
    padding-top: 25px;

    a{
        padding: 17px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid white;
        color: #fff;
        font-weight: 700;
        font-size: 25px;
        
    }
     
    
    h6{
        color: lightgray;
        font-weight: 400;
        font-size: 15px;
    }

    h4{
        color: #fff;
        padding-top: 5px;
        font-weight: 600;
        font-size: 15px;
    }
}

.left-side-first-text{
    padding-top: 8px;
}


.left-side-first a:active{
    background-color: rgb(193, 219, 227);
    color: black;
}

.right-side{

    padding-right: 50px;

    h4{
        font-weight: 600;
        font-size: 30px;
        color: hsl(213, 96%, 18%);
    }

    h6{
        font-weight: 400;
        font-size: 13px;
        color: hsl(227, 5%, 67%);
        margin-top: 26px;

    }

    input[type="text"]{
        width: 100%;
        margin-top : 20px;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 7px;
    }
}

.right-side input:active{

    border-color: blue
}
.form-1-text{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    

    p{
        font-weight: 500;
        font-size: 12px;
        color: hsl(213, 96%, 18%);
    }

    h5{
        display: none;
        font-weight: 600;
        font-size: 12px;
        color: red;

    }
}


.next-btn{
    display: flex;
    justify-content: right;
    margin-top: 110px;

}
.next-btn button{
    padding: 15px 20px;
    color: #fff;
    background-color:hsl(213, 96%, 18%);
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
}


/* select your plan */



.box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    gap: 10px;
    
}
.box-one{
    padding: 15px 0px 15px 10px;
    border: 1px solid hsl(229, 23%, 86%);
    border-radius: 10px;
}
.box-one-text{
    margin-top: 30px;

    h4{
    font-size: 15px;
    }

    p{
        color: hsl(231, 11%, 63%);
        font-size: 13px;
        margin-top: 5px;
    }

    h6{
        display: none;
        margin-top: 5px;
        color: hsl(213, 96%, 18%);
        font-weight: 500;

    }


}

.monthly-yearly-input{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0px 10px 0px;
    background-color: hsl(228, 38%, 97%);
    border-radius: 5px;

    h3{
        font-size: 14px;
        color: hsl(231, 11%, 63%);

    }

    h4{

        font-size: 14px;
    }
}



input[type="range"]{
    width: 48px;
    height: 24px;
    appearance: none; 
    border-radius: 13px;
    color: hsl(213, 96%, 18%);
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px; 
    border-radius: 50%;
    cursor: pointer;
    background:#5964E0;

}


/* add-ons  */




.right-side-hero-first{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 25px 15px ;
    border: 1px solid hsl(229, 23%, 86%);
    border-radius: 12px;


    h4{
        font-size: 16px;
    }

    h6{
        margin: 0;
    }

    h5{

        color: rgb(140, 25, 189);
    }
}



.hero-first-one{

    display: flex;
    gap: 20px;
}


/* summary */



.right-summary-one{
    background-color: hsl(228, 38%, 97%);
    margin-top: 20px;
    padding: 15px;
}

.right-side-summary{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

    h4{
        font-size: 15px;
    }

    h2{
        font-size: 14px;
        font-weight: 500;
        color: hsl(213, 96%, 18%) ;

    }

    h6{
        margin: 0;
    }
    h3{
        color: hsl(213, 96%, 18%) ;

    }
}

.total{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    
     h6{
        margin: 0;
     }

     h3{
        font-size: 22px;
        color: blue;
     }
}

.right-side-second{
    display: none;
}

.right-side-third{
    display: none;
}

.right-side-fourth{
    display: none;
}